@use "../../abstracts/variables" as v;
.about-us-list {
    display: flex;
}

.about-us-list-item {
.secondary-title {
    margin-bottom: 10px;

    font-size: 14px;
    text-transform: uppercase;
}
&:not(:last-child) {
    margin-right: 30px;
}
}

.about-us-description {
    line-height: 1.74;
}

.about-us-icon {
    width: 70px;
    height: 70px;
}

.about-us-icon-bg {
    width: 270px;
    height: 120px;

    margin-bottom: 30px;
    padding: 25px 100px;

    background-color: #f5f4fa;
}