@use "../../abstracts/variables" as v;
@use "../../abstracts/placeholders";
.regular-clients-list {
    display: flex;
}

.regular-clients-item {
    @extend %flex-centered;
    // display: flex;
    // justify-content: center;
    // align-items: center;
    width: 170px;
    height: 92px;

    border: 1px solid #afb1b8;
    border-radius: 4px;
    cursor: pointer;

    transition: border-color 250ms v.$animation-timing-function;

    &:not(:last-child) {
            margin-right: 30px;
        }
}

.client-icon {
    fill: #afb1b8;

    transition: fill 250ms v.$animation-timing-function;
}

.regular-clients-item:hover,
.regular-clients-item:focus {
    border-color: #2196f3;
    .client-icon {
            fill: v.$accent-color;
        }
}
