@use "../abstracts/variables" as v;
.logo {
    text-decoration: none;

    font-family: v.$logo-font;
    font-weight: 700;
    font-size: 26px;

    color: v.$light-theme-logo-color;
    line-height: 1.19;
}

.web-logo {
    color: v.$accent-color;
}